DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=pep_tracker_db
POSTGRES_USER=pep_tracker_user
POSTGRES_PASSWORD=pep_tracker_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
